@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Titillium+Web:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: #fff;
  z-index: 1;
  text-align: center;
}

@media(max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}